#form-container {
    display: flex;
    flex-direction: column;
}

#folder-name {
    order: 1;
    flex: 1;
    height: 30px;
    width: 55%;
    color: darkslategrey;
    margin: 5px;
}

#folder-submit {
    order: 4;
    height: 22px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 2px;
    box-shadow: 1px 1px;
    font-size: 14px;
    color: darkslategrey;
}

#folder-submit:hover {
    box-shadow: -1px -1px;
    cursor: pointer;
}

#folder-clear {
    position: relative;
    left: 72px;
    bottom: 32px;
    height: 22px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 2px;
    box-shadow: 1px 1px;
    font-size: 14px;
    color: darkslategrey;
}

#folder-clear:hover {
    box-shadow: -1px -1px;
    cursor: pointer;
}

label {
    color: darkslategrey;
}

h2 {
    color: darkslategrey;
    font-weight: normal;
}