#form-container {
    display: flex;
    flex-direction: column;
}

#type-note-here {
    white-space: pre-wrap;
    height: 300px;
    width: 80%;
    flex: 1;
    order: 3;
    font-size: 14px;
    margin: 5px;
}

#note-name {
    order: 1;
    flex: 1;
    height: 30px;
    width: 55%;
    color: darkslategrey;
    margin: 5px;
}

#select-folder {
    order: 2;
    flex: 2;
    height: 30px;
    width: 55%;
    margin: 5px;
    font-size: 14px;
    color: darkslategrey;
}

#note-submit {
    order: 4;
    height: 22px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 2px;
    box-shadow: 1px 1px;
    font-size: 14px;
    color: darkslategrey;
}

#note-submit:active {
    box-shadow: -1px -1px;
}

#note-clear {
    height: 22px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 2px;
    box-shadow: 1px 1px;
    font-size: 14px;
    color: darkslategrey;
}

#note-clear:active {
    box-shadow: -1px -1px;
}

label {
    color: darkslategrey;
}

h2 {
    color: darkslategrey;
    font-weight: normal;
}

