.route-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.main-container {
  flex: 3;
  order: 3;
  flex-basis: 70%;
}

.sidebar-container {
  flex: 1;
  order: 2;
  flex-basis: 30%;
}

.header-container {
  order: 1;
  flex-basis: 100%;
}
