.folders-main {
    height: 100px;
    text-align: center;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border: 1px grey solid;
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    justify-content: space-evenly;
}

#note-modified {
    color: darkslategrey;
}

.note-link {
    text-decoration: none;
    color: darkslategrey;
    font-size: 24px;
}