#notes-main {
    height: 100px;
    text-align: center;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border: 1px grey solid;
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    justify-content: space-evenly;
}

#note-modified {
    color: darkslategrey;
}

#note-link {
  text-decoration: none;
  color: darkslategrey;
  font-size: 24px;
}

#delete-button {
    width: 72px;
    height: 22px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 2px;
    box-shadow: 1px 1px;
    font-size: 14px;
    color: darkslategrey;
}

#add-note {
    text-decoration: none;
    color: darkslategrey;
}

#add-note-container:active {
    box-shadow: -1px -1px;
}

#add-note-container {
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 1px 1px;
    margin: 5px;
    height: 22px;
    font-size: 14px;
}